# pnpm como package manager
package-manager-strict=true

# Prohíbe ranges tipo ^ o ~ — solo versiones exactas
save-exact=true

# No genera lockfile para cada workspace
prefer-workspace-packages=true

# ESM estricto
node-linker=hoisted
